<!DOCTYPE html> <!-- tells the browser to use the most up to date version of html available -->
<html lang="en"> 
<head> <!-- #contains information about the document - not displayed in browser - used to set header or description (optional) */ -->
    <meta charset="UTF-8">
    <meta name="description" content="contact geoleek">
    <title>Contact Us?</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/base.css') }}">
    <!-- <link href="base.css" rel="stylesheet" type="text/css"> -->
</head>
<body>
    <header>
        <nav class="navbar">
            <ul> <!-- /*navbar & redirects to other pages*/ -->
                <li><a href="/">Home</a></li>
                <li><a href="/what">What is geoleek?</a></li>
                <li><a href="/who">Who Are We?</a></li>
                <li><a href="/why">Why geoleek?</a></li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Track A Flight</a>
                    <div class="dropdown-content">
                        <a href="/live">Live TDOA/FDOA Tracking</a>
                        <a href="/upload">Upload ADS-B Data</a>
                        <a href="/tdoa_sim">Simulate TDOA</a>
                    </div>
                </li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>

        <main>
            
        </main>

        <hr>
        <h1>Contact Us</h1>
    </header>
    <footer>
        <span>
            <hr class="footer-line">
            <h5>Follow Us:</h5>
            <ul>
                <li><a href="https://www.github.com/"><img src="{{ url_for('static', filename='images/github_darkmode.png') }}" alt="GitHub"></a></li>
                <li><a href="https://www.youtube.com/"><img src="{{ url_for('static', filename='images/youtube_darkmode.png') }}" alt="YouTube"></a></li>
                <li><a href="https://www.facebook.com/"><img src="{{ url_for('static', filename='images/facebook_darkmode.png') }}" alt="Facebook"></a></li>
                <li><a href="https://www.x.com/"><img src="{{ url_for('static', filename='images/x.jpeg') }}" alt="X Image"></a></li>
            </ul>
            <ul>
                <li><a href="https://play.google.com/store/apps?utm_source=na_Med&utm_medium=hasem&utm_content=Nov0520&utm_campaign=Evergreen&pcampaignid=MKT-EDR-na-us-1707532-Med-hasem-ap-Evergreen-Nov0520-Text_Search_BKWS-id_100470_%7CEXA%7CONSEM_kwid_43700023142507910&gad_source=1&gclid=CjwKCAjw65-zBhBkEiwAjrqRMHgx6mEriMKMNMCPtMDgsfu4syBqkXKX1ni66hUaayw4SPJOOxHMLRoC5AwQAvD_BwE&gclsrc=aw.ds"><img src="{{ url_for('static', filename='images/googleplay_darkmode.jpeg') }}" alt="Google Play Store"></a></li>
                <li><a href="https://www.applestore.com/"><img src="{{ url_for('static', filename='images/applestore_darkmode.png') }}" alt="Apple Store"></a></li>
            </ul>
        </span>
    </footer>
</body>
</html>