<!DOCTYPE html> <!-- tells the browser to use the most up to date version of html available -->
<html lang="en"> 
<head> <!-- #contains information about the document - not displayed in browser - used to set header or description (optional) */ -->
    <meta charset="UTF-8">
    <meta name="description" content="tdoa and fdoa for real time aircraft location mapping">
    <title>geoleek</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/base.css') }}">
    <!-- <link href="base.css" rel="stylesheet" type="text/css"> -->
</head>
<body>
    <header>
        <nav class="navbar">
            <ul> <!-- /*navbar & redirects to other pages*/ -->
                <li><li><a href="/index">Home</a></li>
                <li><a href="/what"></a>What is geoleek?</li>
                <li>Who Are We?</li>
                <li>Why geoleek?</li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Track A Flight</a>
                    <div class="dropdown-content">
                        <a href="/live">Live TDOA/FDOA Tracking</a>
                        <a href="/upload">Upload ADS-B Data</a>
                        <a href="/tdoa_sim">Simulate TDOA</a>
                    </div>
                </li>
                <li>Contact Us</li>
            </ul>
        </nav>
        <main>
            
        </main>

        <hr>
        <h1>geoleek</h1>
        <button>Track a Flight ✈️</button>
    </header>
    <footer>
        <span>
            <hr class="footer-line">
            <h5>Follow Us:</h5>
            <ul>
                <li><img src="{{ url_for('static', filename='images/github_darkmode.png') }}" alt="GitHub"></li>
                <li><img src="{{ url_for('static', filename='images/youtube_darkmode.png') }}" alt="YouTube"></li>
                <li><img src="{{ url_for('static', filename='images/facebook_darkmode.png') }}" alt="Facebook"></li>
                <li><img src="{{ url_for('static', filename='images/x.jpeg') }}" alt="X Image"></li>
            </ul>
            <ul>
                <li><img src="{{ url_for('static', filename='images/googleplay_darkmode.jpeg') }}" alt="Google Play Store"></li>
                <li><img src="{{ url_for('static', filename='images/applestore_darkmode.png') }}" alt="Apple Store"></li>
            </ul>
        </span>
    </footer>
</body>
</html>
