<!-- templates/raw_text.html -->
 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>geoleek</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/base.css') }}">
 </head>
 <body>
     <!--Prompt user to upload data -->
     <header id="header">geoleek</header>
     <subtitle>Upload ADS-B Data</subtitle>
     <h4>accepted file types: </h4>
    <h5 style="margin: top 0;">.csv</h5>
     
     <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="fileUpload" class="button">Upload CSV File</label>
        <input type="file" id="fileUpload" name="fileUpload" accept=".csv" style="display: none;">
        <button type="submit" class="button">Submit</button>
    </form>
    
    
     
     <!-- Return to home button -->
     
 </body>
 </html>
