<!DOCTYPE html> <!-- tells the browser to use the most up to date version of html available -->
<html lang="en"> 
<head> <!-- #contains information about the document - not displayed in browser - used to set header or description (optional) */ -->
    <meta charset="UTF-8">
    <meta name="description" content="tdoa and fdoa for real time aircraft location mapping">
    <title>geoleek</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/base.css') }}">
    <!-- <link href="base.css" rel="stylesheet" type="text/css"> -->
</head>
<body>
    <header id="header">who</header>